a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}

.AbilityDescriptionSection {
  outline-style: ridge;
  outline-width: 12px;
  outline-color: rgb(44, 44, 44);
  background-color: black;
  padding-top: 12px;
  padding-bottom: 12px;
}

.AbilityHeader {
  font-family: 'PixelFont';
  font-size: x-large;
  outline-style: inset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: -25%;
}

.AbilityHeaderSmall {
  font-family: 'PixelFont';
  font-size: larger;
  outline-style: inset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: -25%;
}

.AbilityCooldown {
  font-family: 'PixelFont';
  text-align: left;
  font-size: larger;
  padding-top: 18px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 0%;
}

.animationLeadershipIconFadeIn {
  animation: treeLeadershipFadeIn 1s;
}

.animationPyromancyIconFadeIn {
  animation: treePyromancyFadeIn 2s;
}

.animationShieldedCombatIconFadeIn {
  animation: treeShieldedCombatFadeIn 3s;
}

.App {
  text-align: center;
}

.backgroundColorBlack {
  background-color: black;
}

body {
  background-color: #282c34;
  color: white;
  background-image: url("./resources/images/AbstractCubesBackground.png");
  background-size: auto;
}

Button {
  background-image: radial-gradient(rgb(44, 44, 44), black);
}

Button:hover {
  background-image: linear-gradient(black, rgb(44, 44, 44));
  color: red;
}

.CharacterArt {
  width: 20vw;
}

.CogLogo {
  height: 2vw;
  width: 2vw;
  padding-right: 2px;
  padding-top: 4px;
  background-image: radial-gradient(rgb(44, 44, 44), black);
}

.commonButton {
  color: white;
  background-color: green;
  padding: 100px;
}

.DesignInsightButton {
  text-align: center;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  font-family: 'PixelFont';
  font-size: large;
  margin-left: 10%;
  margin-right: 10%;
  width: 300%;
  height: 50%;
  padding: 20%;
  margin-bottom: 12px;
  color: white;
  background-color: black;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  background-image: radial-gradient(rgb(11, 11, 11), black);
}

.DesignInsightButton:hover {
  color: red;
  margin-left: 4%;
  margin-right: 4%;
}

.HeaderTitle {
  text-align: center;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  font-family: 'PixelFont';
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0.5%;
  margin-bottom: 12px;
  color: white;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  background-image: radial-gradient(rgb(11, 11, 11), black);
}

.HeaderTitle:hover {
  color: red;
  margin-left: 4%;
  margin-right: 4%;
}

.HeaderTitleNoHover {
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin-bottom: 12px;
  color: white;
  outline-style: outset;
  outline-style: ridge;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  background-image: radial-gradient(rgb(11, 11, 11), black);
}

.HeaderTitleWide {
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  font-size: larger;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin-bottom: 12px;
  color: white;
  outline-style: outset;
  outline-style: ridge;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  background-image: radial-gradient(rgb(11, 11, 11), black);
}

html::-webkit-scrollbar {
  width: 20px; 
}

html::-webkit-scrollbar-track {
background-color: rgb(44, 44, 44);
background-image: linear-gradient(rgb(44, 44, 44), black);
}

html::-webkit-scrollbar-thumb {
background: white;
border-radius: 25px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  10% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes leftSlide {
  0% {
    transform: translateX(10vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

@keyframes treeLeadershipFadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  10% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes treePyromancyFadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  20% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes treeShieldedCombatFadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  25% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.ImageBorder {
  margin-left: 0%;
  margin-right: 10%;
  padding: 0.5%;
  margin-bottom: 12px;
  background-color: black;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
}

.ImageLogo {
  width: 100%;
}

.ImageLogo:hover {
  width: 100%;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  outline-color: white;
}

.ImageLogoSelected {
  width: 100%;
  outline-style: inset;
  outline-width: 6px;
  outline-color: red;
}


.MapGeneratorSelectionInput {
  width: 200px;
  background-color: black;
  color: black;
  text-align: center;
  align-self: center;
  margin-left: 45vw;
}

.NavBarButtonGroup {
  padding: 0px;
  height: 5vh;
  text-align: left;
  outline-style: double;
  outline-width: 1px;
  outline-color: rgb(100, 100, 100);
}

.NormalPageLayout {
  text-align: center;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.NormalPageLayoutLeft {
  text-align: left;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.NormalPageLayoutLeftSmaller {
  text-align: left;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: small;
}

.moveLeft15 {
  margin-left: -15%;
}

.moveLeft20 {
  margin-left: -20%;
}

.moveLeft25 {
  margin-left: -25%;
}

.moveLeft35 {
  margin-left: -35%;
}

.moveLeft45 {
  margin-left: -45%;
}

.moveLeft70 {
  margin-left: -70%;
}

.ProfileImage {
  margin-left: -25%;
  margin-right: 10%;
  padding: 0.5%;
  margin-bottom: 12px;
  background-color: black;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
}

.ScrollingBox {
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
}

.ScrollingBox::-webkit-scrollbar {
  width: 20px; 
}

.ScrollingBox::-webkit-scrollbar-track {
background-color: rgb(44, 44, 44);
background-image: linear-gradient(rgb(44, 44, 44), black);
}

.ScrollingBox::-webkit-scrollbar-thumb {
background: white;
border-radius: 25px;
}

.ScrollingBox50vh {
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
}

.SmallHeaderBox {
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  font-size: larger;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: -15%;
  color: white;
  background-color: rgb(44, 44, 44);
  outline-style: outset;
  outline-width: 6px;
  outline-color: darkgray;
  background-image: linear-gradient(rgb(11, 11, 11), black);
}

.SmallHeaderTitleNoHover {
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  font-size: larger;
  margin-right: 40%;
  margin-bottom: 12px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 5px;
  color: white;
  outline-style: inset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  background-image: radial-gradient(rgb(11, 11, 11), black);
}

.SpellListTable,
th,
tr {
  text-align: left;
  border: 2px outset white;
  background-image: linear-gradient(black, gray);
}

.SWWBanner {
  width: 25vw;
  offset-anchor: 25vw;
  padding: 10px;
}

.TalentImage {
  width: 10vw;
}

td {
  text-align: center;
  border: 1px solid white;
  border-radius: 8px;
  background-image: linear-gradient(red, black);
}

.TreeNametag {
  width: 100%;
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  margin-bottom: 12px;
  padding-top: 5px;
  color: white;
}

.TreeNametagVertical {
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  font-size: larger;
  padding-top: 5px;
  color: white;
  background-color: black;
  outline-style: inset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  writing-mode: vertical-rl;
  display: inline-block;
}


.textAlignCenter {
  text-align: center;
}

.textColorGreen {
  color: green;
}

.textColorIndigo {
  color: rgb(80, 26, 228);
}

.textColorOrange {
  color: orange;
}

.textColorYellow {
  color: yellow;
}

.textColorCyan {
  color: cyan;
}

.textColorRed {
  color: red;
}

.textFontPixel {
  font-family: 'PixelFont';
}

.width100 {
  width: 100%;
}