body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.CogLogo {
  height: 1%;
  width: 1%;
  padding-right: 10px;
}

.HeaderTitleRight {
  text-align: right;
  align-self: right;
  align-content: right;
  font-family:'Times New Roman', Times, serif;
  width: 35vw;
  font-size: larger;
}

.HeaderTitle {
  text-align: center;
  align-self: center;
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
}

.NavBarButtonGroup {
  width: 100vw;
  background-color: darkgray;
  padding: 10px;
  text-align: left;
}

.SWWBanner {
  width:25vw;
  offset-anchor: 25vw;
  padding: 10px;
}

a {
  color:white;
  text-decoration: none;
}

a:hover {
  color:red;
}

.MapGeneratorSelectionInput {
  width: 200px;
  background-color: black;
  color: black;
  text-align: center;
  align-self: center;
  margin-left: 45vw;
}

.commonButton {
  color: white;
  background-color: green;
  padding:100px;
}