a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}

.AbilityDescriptionSection {
  height: 90%;
  outline-style: ridge;
  outline-width: 12px;
  outline-color: rgb(44, 44, 44);
  background-color: black;
  padding-top: 12px;
}

.AbilityHeader {
  font-family: 'PixelFont';
  font-size: xx-large;
  outline-style: inset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: -25%;
}

.AbilityCooldown {
  font-family: 'PixelFont';
  text-align: left;
  font-size: larger;
  padding-top: 18px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 0%;
}

.App {
  text-align: center;
}

body {
  background-color: #282c34;
  color: white;
  background-image: url("./resources/images/AbstractCubesBackground.png");
  background-size: auto;
}

.CogLogo {
  height: 1%;
  width: 1%;
  padding-right: 10px;
}

.commonButton {
  color: white;
  background-color: green;
  padding: 100px;
}

.DesignInsightButton {
  text-align: center;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  font-family: 'PixelFont';
  font-size: large;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0.5%;
  padding-bottom: 20%;
  padding-top: 20%;
  margin-bottom: 12px;
  color: white;
  background-color: black;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
}

.DesignInsightButton:hover {
  color: red;
  margin-left: 4%;
  margin-right: 4%;
}

.HeaderTitle {
  text-align: center;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  font-family: 'PixelFont';
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0.5%;
  margin-bottom: 12px;
  color: white;
  background-color: black;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
}

.HeaderTitle:hover {
  color: red;
  margin-left: 4%;
  margin-right: 4%;
}

.HeaderTitleNoHover {
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin-bottom: 12px;
  color: white;
  background-color: black;
  outline-style: outset;
  outline-style:ridge;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
}

.HeaderTitleWide {
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  font-size: larger;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin-bottom: 12px;
  color: white;
  background-color: black;
  outline-style: outset;
  outline-style:ridge;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
}

.ImageBorder {
  margin-left: 0%;
  margin-right: 10%;
  padding: 0.5%;
  margin-bottom: 12px;
  background-color: black;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
}

.ImageLogo {
  width: 100%;
}

.ImageLogo:hover {
  width: 100%;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
  outline-color: white;
}

.ImageLogoSelected {
  width: 100%;
  outline-style: inset;
  outline-width: 6px;
  outline-color: red;
}


.MapGeneratorSelectionInput {
  width: 200px;
  background-color: black;
  color: black;
  text-align: center;
  align-self: center;
  margin-left: 45vw;
}

.NavBarButtonGroup {
  width: 100vw;
  background-color: darkgray;
  padding: 10px;
  text-align: left;
}

.NormalPageLayout {
  text-align: center;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.NormalPageLayoutLeft {
  text-align: left;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.moveLeft25 {
  margin-left: -25%;
}

.moveLeft35 {
  margin-left: -35%;
}

.moveLeft45 {
  margin-left: -45%;
}

.moveLeft70 {
  margin-left: -70%;
}

.ProfileImage {
  margin-left: -25%;
  margin-right: 10%;
  padding: 0.5%;
  margin-bottom: 12px;
  background-color: black;
  outline-style: outset;
  outline-width: 6px;
  outline-color: rgb(44, 44, 44);
}

.SmallHeaderBox {
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  font-size: larger;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: -15%;
  color: white;
  background-color: rgb(44, 44, 44);
  outline-style: outset;
  outline-width: 6px;
  outline-color: darkgray;
}

.SmallHeaderTitleNoHover {
  text-align: center;
  align-self: center;
  font-family: 'PixelFont';
  font-size: larger;
  margin-right: 40%;
  margin-bottom: 12px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 5px;
  color: white;
  background-color: rgb(44, 44, 44);
  background-color: black;
  outline-style: inset;
  outline-width: 6px;
  outline-color: darkgray;
  outline-color: rgb(44, 44, 44);
}

.SWWBanner {
  width: 25vw;
  offset-anchor: 25vw;
  padding: 10px;
}

.textAlignCenter {
    text-align: center;
}
.textColorGreen {
  color: green;
}

.textColorIndigo {
  color: rgb(80, 26, 228);
}

.textColorOrange {
  color: orange;
}

.textColorYellow {
  color: yellow;
}

.textColorCyan {
  color: cyan;
}

.textFontPixel {
  font-family: 'PixelFont';
}